{% extends "layout.html" %}
{% block body %}

<div class = 'flash'>
        {% with messages = get_flashed_messages() %}
{% if messages %}
    
  <ul>
  {% for message in messages %}
      <li> <strong> {{ message }} </strong> </li>
  {% endfor %}
  </ul>
  {% endif %}
{% endwith %}
</div>


<section>
<h2>Categories</h2>
{%for category in categories%}
<div>
    <a href="{{url_for('showCategoryItems', category_name = category.name)}}">{{category.name}}</a>
</div>
{%endfor%}
</section>

<div id = "add-item">
    <a class = 'add-item' href="{{url_for('newCategoryItem')}}">Add New Item</a>
</div>
<aside>
<h2>Latest Items</h2>
{% for item in items %}
<div>
    <a href="{{url_for('showItem',category_name = item.category_name ,item_name = item.title)}}">{{item.title}}</a> 
    <span>({{item.category_name}})</span>
</div>
{%endfor%}


</aside>



{% endblock %}
